/* General Styles */
html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: #001133;
  /* background: rgb(231,230,244);
  background: linear-gradient(90deg, rgba(231,230,244,1) 0%, rgba(100,122,188,1) 100%); */
}

/* Company Section Styles */
.company_section1 {
  background-color: #0f1e68ef;
  padding: 60px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company_ul1 {
  color: #eff1f4;
  font-size: 25px;
  margin-right: 150px;
}

.about-button {
  background-color: #a50303;
  color: #eff1f4;
  font-size: 18px;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
}

.about-button:hover {
  background-color: #0056b3;
  color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
  .company_section1 {
      flex-direction: column;
      text-align: center;
      padding: 30px 10px;
  }

  .company_ul1 {
      font-size: 18px;
      margin-right: 0;
  }

  .about-button {
      font-size: 16px;
      padding: 10px 20px;
  }
}
